<div class="text-muted text-center py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-4">
                <p class="mb-1">© 2019 Дмитрий Майер</p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#">Privacy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Terms</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Support</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/template/js/jquery-3.3.1.min.js" charset="utf-8"></script>
<script src="/template/js/bootstrap/bootstrap.min.js"></script>
<script src="/template/js/main.js"></script>
<script type="text/javascript" src="/template/js/bootstrap/bootstrap-validate.js" charset="utf-8"></script>

<script>
    // https://bootstrap-validate.js.org/rules.html
    // TODO JS error TypeError: null has no properties bootstrapValidate('#username'
    bootstrapValidate('#username', 'required:Имя пользователя не должно быть пустым.|regex:^[A-z0-9]{1,}$:Только латинские символы и цифры.|min:8:Минимум 8 символов!|max:32:Максимум 32 символа!')
    bootstrapValidate('#email', 'required:E-Mail адрес не должен быть пустым.|email:Введите корректный E-Mail адрес|max:64:Максимум 64 символа!')
    bootstrapValidate('#message', 'required:Пожалуйста, введите ваше сообщение.|min:10:Минимум 10 символов!|max:2048:Максимум 2048 символов!|regex:^[^<>&]+$:HTML теги запрещены!')
</script>